
.footer {
    text-decoration: none; 
    font-weight: bold; 
    font-size: 1.5vw;  
    transition: color 0.3s ease-in-out; 
}


.footer:hover {
    color: #172098;  
}

.form-control::placeholder {
        color: 'black'; /* Change 'red' to your desired color */
        opacity: 1; /* Ensure full opacity in Firefox */
    }
