.button:hover {
    transform: scale(1.1); /* Optional: Slight zoom effect */
    transition: 0.3s; /* Smooth transition */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5vw;
    background-color: #0f9ae6;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}