.navbar {
    text-decoration: none; 
    font-size: 1.5vw; 
    transition: color 0.3s, text-decoration 0.3s;
}

.input {
    display: inline-block;
    padding: 5px 10px;
    font-size: 30px;   
    border-radius: 3px;
    text-decoration: none;
    width: 500px;
    text-align: center;
    color: #0F9AE6;
}

.inputMedium {
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;   
    border-radius: 3px;
    text-decoration: none;
    width: 350px;
    text-align: center;
    color: #0F9AE6;
}

.inputSmall {
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;   
    border-radius: 3px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    color: #0F9AE6;
}

.navbar:hover {
    color: #172098; 
    text-decoration: none; 
}

.important {
    color : #1a1f61;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

.Select-menu-outer { display : block !important; }

@media only screen and (max-width: 1026px) {
    #wordcloud_div {
        display: none;
    }
}




